
@{
    Layout = null;
    var adminModel = ViewBag.AdminModel;
    var courselist = ViewBag.CourseDataList as List<LMS.Models.CourseData>;
    var AssingingLearners = ViewBag.Assigninglearner as List<LMS.Models.LearnerModel>;
    var activelearner = ViewBag.ActiveLearners as List<LMS.Models.ActiveLearnerModel>;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LMS : Admin_AssignCourse</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link href="~/Content/SideBar-Navbar/navbarcommon.css" rel="stylesheet" />

    <style>
        .form-inline {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
    </style>

</head>
<body>
    <!--sider bar-->
    <nav>
        <div class="logo_name">

            <span class="logo_name mx-4">ADMIN</span>
        </div>
        <ul>
            <li>
            <li>
                <a href="@Url.Action("AdminPanel", "Admin")">
                    <i class="uil uil-estate"></i>
                    <span class="link-name">Home</span>
                </a>
            </li>
            <li>

                <a href="#" class="" data-bs-toggle="modal" data-bs-target="#AdminViewModal">
                    <i class="fa-solid fa-eye"></i>
                    <span class="link-name"> View Profile</span>
                </a>
            </li>

            <li>
                <a href="#" class="" data-bs-toggle="modal" data-bs-target="#AdminEditModal">
                    <i class="fa-solid fa-user-pen"></i>
                    <span class="link-name">Edit Profile</span>
                </a>
            </li>

            <li>

                <a href="@Url.Action("AddCourseByAdmin","Admin")">
                    <i class="fa-solid fa-folder-plus"></i>
                    <span class="link-name"> Add Course</span>
                </a>
            </li>

            <li>
                <a href="@Url.Action("Admin_courses", "Admin")">
                    <i class="uil uil-book"></i>
                    <span class="link-name">Courses</span>
                </a>
            </li>


        </ul>
        <div class="logout">
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#AdminLogout">
                Logout
            </button>
        </div>

    </nav>

    <!--banner-->
    <section class="dashboard">
        <div class="top">
            <i class="company-logo">
                <img src="~/HomeBanner/lms_logo-removebg-preview.png" />
            </i>

            <div class="profile">
                <span class="link-name mx-4">@adminModel.Admin_Name</span>

                <img src="~/HomeBanner/blank-profile-picture-973460_1280.png" alt="Profile Picture" />
            </div>
        </div>


        <!--assign course area-->
        <div class="dash-content">

            <div class="activity">

                <div class="container">

                    <form class="form-inline" id="activateLearner" method="post" action="@Url.Action("ActivateLearner","Admin")">

                        <div class="form-group mr-3 mx-1">
                            <label for="learnerEmail" class="mr-2">Learner Email ID:</label>
                            <select class="form-control" id="SelectLearner" name="learnerid" style="width:300px;" required>
                                <option value="" disabled selected>Select LearnerEmail</option>
                                @if (AssingingLearners != null && AssingingLearners.Any())
                                {
                                    foreach (var learner in AssingingLearners)
                                    {
                                        <option value="@learner.LearnerId"> @learner.LearnerEmail - @learner.LearnerName </option>

                                    }

                                }
                                else
                                {
                                    <option disabled>No Learner Present</option>
                                }
                            </select>

                        </div>
                        <div class="form-group mr-3">
                            <label for="ChooseCourse" class="mr-2">Choose Course:</label>
                            <select class="form-control" id="SelectCourse" name="courseid" style="width:500px;" required>
                                <option value="" disabled selected>Select Course</option>
                                @if (courselist != null && courselist.Any())
                                {
                                    foreach (var course in courselist)
                                    {
                                        <option value="@course.CourseId">@course.CourseName - @course.CourseCode </option>

                                    }

                                }
                                else
                                {
                                    <option disabled>No Course Available</option>
                                }

                            </select>

                        </div>


                        <button type="submit" class="btn btn-success" id="activeButton">Assign</button>
                    </form>
                </div>

            </div>
        </div>

        <!--user table -->
        <div class="card mt-5">
            <div class="card-header" style="background-color: #3ABEF9; color: white;">
                <div class="d-flex align-items-center">
                    Active Learner List
                    <label class="form-label" style="margin-left:100px;">Search User</label>
                    <input class="form-control mx-1" style="max-width:200px;" id="myInput" autocomplete="off" onkeyup="searchTable() " />

                </div>
            </div>
            <div class="card-body">
                <table class="table" id="myTable">
                    <thead>
                        <tr>
                            <th scope="col">LearnerId</th>
                            <th scope="col">LearnerName</th>
                            <th scope="col">LearnerMail</th>
                            <th scope="col">CourseId</th>
                            <th scope="col">CourseName</th>
                            <th scope="col">OwnerId</th>
                            <th scope="col">OwnerName</th>
                            <th scope="col">OwnerEmail</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>


                        @if (activelearner != null && activelearner.Any())
                        {
                            foreach (var Active in activelearner)
                            {
                                <tr>
                                    <td>@Active.LearnerId</td>
                                    <td>@Active.LearnerName</td>
                                    <td>@Active.LearnerEmail</td>
                                    <td>@Active.CourseId</td>
                                    <td>@Active.CourseName</td>
                                    <td>@Active.OwnerId</td>
                                    <td>@Active.OwnerName</td>
                                    <td>@Active.OwnerEmail</td>
                                    <td>

                                        <button class="btn-sm btn-danger"
                                                id="deallocateBtn"
                                                data-learnerid="@Active.LearnerId"
                                                data-ownerid="@Active.OwnerId"
                                                data-courseid="@Active.CourseId"
                                                data-email="">
                                            Deallocate
                                        </button>
                                    </td>
                                </tr>

                            }

                        }
                        else
                        {
                            <tr>
                                <td colspan="5">No ActiveLearner Available</td>
                            </tr>

                        }


                    </tbody>

                </table>

            </div>
        </div>


    </section>

    <!--admin all modals-->
    @Html.Partial("_AdminModals")

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>

    <script>

            $(document).ready(function () {


                // Handle Admin Logout
                $("#logoutButton").click(function () {
                    $.ajax({
                        url: '@Url.Action("Adminlogout", "Admin")',
                        type: 'POST',
                        success: function (response) {
                            if (response.success) {

                                window.location.href = '@Url.Action("Welcome", "Home")';
                            } else {
                                alert(response.message);
                            }
                        },
                        error: function (xhr, status, error) {
                            alert("An error occurred: " + error);
                        }
                    });
                });

                //assign course
                $('#activateLearner').on('submit', function (event) {
                    event.preventDefault();

                    var formData = {

                        learnerid: $('#SelectLearner').val(),
                        courseid: $('#SelectCourse').val()

                    };


                    $.ajax({
                        type: 'POST',
                        url: $(this).attr('action'),
                        data: formData,
                        success: function (response) {
                            alert(response.message);
                            location.reload();
                        },
                        error: function (xhr, status, error) {
                            alert("error occured" + error);
                            location.reload();
                        }
                    });
                });




                 // Populate Edit Modal with current admin details
                 $('#AdminEditModal').on('show.bs.modal', function () {
                     var modal = $(this);
                     modal.find('#AdminNameEdit').val('@adminModel.Admin_Name');
                     modal.find('#AdminPasswordEdit').val('@adminModel.Admin_password');
                 });

                 // Handle Admin Edit Form submission
                 $("#AdminEditModalUpdate").click(function (e) {
                     e.preventDefault();

                     if ($("#adminEditForm").valid()) {
                         var formData = new FormData($("#adminEditForm")[0]);

                         $.ajax({
                             url: $("#adminEditForm").attr("action"),
                             type: $("#adminEditForm").attr("method"),
                             data: formData,
                             processData: false,
                             contentType: false,
                             success: function (response) {
                                 $("#AdminEditModal").modal('hide');
                                 alert(response.message);
                                 setInterval(function () { location.reload(); },1000)

                             },
                             error: function (response) {
                                 var errorMessage = response.responseJSON ? response.responseJSON.message : "An error occurred";
                                 $("#AdminEditModal").modal('hide');
                                 alert(errorMessage);
                                 setInterval(function () { location.reload(); }, 1000)
                             }
                         });
                     }
                 });

                 // Admin Edit Form validation
                 $("#adminEditForm").validate({
                     errorClass: "error",
                     rules: {
                         AdminName: {
                             required: true,
                             minlength: 3,
                             maxlength: 20
                         },
                         AdminPassword: {
                             required: true,
                             minlength: 6
                         }
                     },
                     messages: {
                         AdminName: {
                             required: "Name field cannot be empty",
                             minlength: "Name must be at least 3 characters",
                             maxlength: "Name must not exceed 20 characters"
                         },
                         AdminPassword: {
                             required: "Password field cannot be empty",
                             minlength: "Password must be at least 6 characters"
                         }
                     }
                 });

                 // Reset and reload Admin Edit Form
                 $("#closebtn").click(function () {
                     $("#adminEditForm")[0].reset();
                     window.location.reload();
                 });


                $(document).on('click', '#deallocateBtn', function (e) {
                    e.preventDefault();

                    // Extract data from button attributes
                    var learnerId = $(this).data('learnerid');
                    var ownerId = $(this).data('ownerid');
                    var courseId = $(this).data('courseid');

                    // Prepare form data
                    var formData = {
                        learnerId: learnerId,
                        ownerId: ownerId,
                        courseId: courseId
                    };

                    if (confirm("Are you sure you want to deallocate the course?")) {
                        // Perform AJAX request
                        $.ajax({
                            url: '@Url.Action("DeallocateLearner", "Admin")',
                            type: 'POST',
                            data: formData,
                            traditional: true, // Handle nested objects or arrays properly if needed
                            success: function (response) {
                                alert(response.message);
                                location.reload();
                            },
                            error: function (xhr, status, error) {
                                alert("Error occurred: " + error);
                                location.reload();
                            }
                        });
                    }
                });




            });

            //search user function
            function searchTable() {
                var input = document.getElementById("myInput").value.toUpperCase();
                var table = document.getElementById("myTable");
                var rows = table.getElementsByTagName("tbody")[0].getElementsByTagName("tr");

                for (var i = 0; i < rows.length; i++) {
                    var cells = rows[i].getElementsByTagName("td");
                    var cellText = "";


                    if (cells.length > 1) {
                        cellText += cells[1].textContent.toUpperCase();
                    }
                    if (cells.length > 2) {
                        cellText += " " + cells[2].textContent.toUpperCase();
                    }

                    if (cellText.includes(input)) {
                        rows[i].style.display = "";
                    } else {
                        rows[i].style.display = "none";
                    }
                }
            }

    </script>
</body>
</html>
